{% extends 'post_delete.html' %}

{% block content2 %}
<li class="nav-item">
  <a class="nav-link" href="/articles/search/">Articles Search</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/articles/create/">Create Article</a>
</li>
{% endblock content2 %}

{% block content %}
{% if post.author == request.user.author %}
<h1>Delete Article</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Delete "{{ post.post_title }}"?</p>
    <input type="submit" value="Delete" />
</form>
{% else %}
<h3>It's not your POST</h3>
<h4>You can't edit or delete it</h4>
{% endif %}
{% endblock content %}