{% load custom_filters %}
<head>
    <title>Post</title>
</head>
<body>
    <p style="text-align:left;">Hello, {{ user.username }}!<br> {{category}} Weekly Newsletter </p>
    {% for post in posts %}
        <h1>{{ post.post_title|censor }}</h1>
        {% if post.type == 'NW' %}
        <p style="text-align: left;"><em>{{ post.preview|censor }}</em></p>
        <p style="text-align: left;"><em>Read more -</em> http://127.0.0.1:8000{% url 'news_detail' post.pk  %}</p>
        {% elif post.type == 'AR' %}
        <p style="text-align: left;"><em>{{ post.preview|censor }}</em></p>
        <p style="text-align: left;"><em>Read more -</em> http://127.0.0.1:8000{% url 'article_detail' post.pk  %}</p>
        {% endif %}
        <p style="text-align: right;"><em><strong>Author:</strong></em></p>
        <p style="text-align: right;"><em><strong>{{ post.author.user.username }}</strong></em></p>
    {% endfor %}

</body>
</html>